
/*Navbar */ 

.nav-wrapper {
    background-color:#fff;
}

nav ul a {
    color:#324157;
}

nav ul li a:hover {
    color:#48AECB;
    background:#fff;
   
}

.accueil {
    color:#48AECB;
}  

i.fa {
    color:#989898;
    padding-left:15px;
}

i.fa:hover {
    color:#EDEDED;
}

       
/* Background */

.logo {
    position: absolute;
    left:270px;
    padding:70px; 
}

h1 {
    font: italic normal normal 65px/1.4em 'noticia text',serif;
    color: #FFFFFF;
    padding-left:200px;
    padding-top: 110px;
}

.social {
    padding:8px;
}


/* Parallax */

.parallax-container {
      height: 500px;
 }


.section {
   padding:60px;
}


/* A propos */ 

.txt {
    font: normal normal normal 16px/1.4em 'open sans',sans-serif;
    color: #324157;
}

.text {
    padding-left:80px;
    padding-right:80px;
}


/* Section Cours */ 


.row  {
    margin:0 auto;
    text-align: center;
}

.flower {
    position:relative;
    left:50px;
}

.cours-left {
    text-align:center;
    width: 330px;
    position:absolute;
    height: 297px;
    background:#fff;
    padding:40px;
}

.cours-right {
    text-align:center;
    width: 330px;
    left:600px;
    position:absolute;
    height: 297px;
    background:#fff;
    padding:50px;
}

h3 {
    font: italic normal normal 26px/1.4em 'noticia text',serif;
    color: #48AECB;
}


h4 {
    font: normal normal normal 20px/1.4em 'open sans',sans-serif;
    color: #324157;
}

p {
    font: normal normal normal 17px/1.4em 'open sans',sans-serif;
    color: #324157;
}


.bleu{
     background:#E1F3F9;
     height:600px;
}

button {
    background-color: rgba(72, 174, 203, 1);
    width:192px;
    height:40px;
}


/* Temoignage */ 

.pers {
    border-radius:80px;
}


/* Formulaire de contact */

.contact {
    width: 50%;
    background: #fff;
    position: relative;
    margin:50px;
}

h2 {
    font: italic normal normal 45px/1.4em 'noticia text',serif;
    line-height: 1.4em;
    color: #48AECB;
    text-align: center;
}

form {
    margin: 0 auto;
    width: 300px;
    padding: 1em;
}

/* Footer */ 

footer {
    height:155px;
}

.author {
    width: 980px;
    position: absolute;
    margin:100px;
}




    






